= render 'top'

- unless current_user.present?
  =' link_to 'Zaloguj się przez Facebook', user_omniauth_authorize_path(:facebook), :class => "btn btn-primary"
  = link_to 'Nie masz tam konta?', new_user_registration_path
