html
  margin: 0

.ft-main-container
  max-width: 900px
  padding: 20px
  margin: 0 auto

.ft-progress
  margin-top: -15px
  height: auto

  .bar
    height: auto !important
    padding-right: 10px
    font-size: 16px
    line-height: 30px
    text-align: right

    span
      opacity: 0.5

.ft-content
  padding-top: 2em

.ft-feed-item
  min-height: 64px
  padding: 1em 0
  border-top: 1px solid #efefef
  background: #fdfdfd

  .pull-right
    text-align: right

  img
    border-radius: 2px

  .media-object
    position: absolute

  .media-body
    padding-left: 80px

.ft-feed-item-value
  color: $successText

  & + button
    margin-top: 2px

.ft-feed-item--mine
  background: $infoBackground
  padding-left: 1em
  padding-right: 1em

  &, & + .ft-feed-item
    border-top: 1px solid $infoBorder

  .ft-feed-item-value
    color: $infoText

  .ft-feed-item-button
    display: none
