html
  margin: 0

.ft-main-container
  max-width: 900px
  padding: 20px
  margin: 0 auto

.ft-progress
  margin-top: -15px
  height: auto

  .bar
    height: auto !important
    padding-right: 10px
    font-size: 16px
    line-height: 30px
    text-align: right
    min-width: 100px

    span
      opacity: 0.5

.ft-content
  padding: 2em 0

.ft-home-content
  padding: 150px 0
  background: asset-url("hero.jpg") center center no-repeat
  background-size: no-repeat
  overflow: hidden
  border-radius: 2px

  .fk-invite
    box-sizing: border-box
    padding: 30px 30px 20px
    background: rgba(#222, 0.4)
    border-radius: 2px

.fk-invite
  color: #fff
  -webkit-font-smoothing: antialiased

.fk-invite-title
  text-shadow: 0 1px 4px rgba(#000, 0.8)
  padding-bottom: 10px

.fk-invite-content
  text-shadow: 0 1px 1px rgba(#000, 0.8)

.fk-invite-content--dimmed
  a
    color: rgba(#fff, 0.6)
    font-weight: bold

    &:active
      color: #fff

.fk-feature
  border-radius: 2px
  box-sizing: border-box
  padding: 0 1em

.fk-feature-header
  text-align: center

  img
    position: relative
    top: -10px

.fk-feature-content
  color: #888

.ft-sidebar
  section + section
    padding-top: 3em

.ft-post-form
  padding: 1em 1em
  margin-bottom: 3em
  background: $infoBackground
  border: 1px solid $infoBorder
  border-radius: 4px

  .lead
    font-weight: bold

  .row-fluid
    margin-bottom: 0

  textarea,
  .btn-primary
    box-sizing: border-box
    width: 100%
    max-width: 100%
    display: block

  textarea
    height: 38px

.ft-feed-item
  min-height: 64px
  padding: 1em 0
  border-top: 1px solid #efefef
  background: #fdfdfd

  .pull-right
    text-align: right

  img
    border-radius: 2px

  .media-object
    position: absolute

  .media-body
    padding-left: 80px

.ft-feed-item-value
  color: $successText

  & + button
    margin-top: 2px

.ft-feed-item--mine
  background: $infoBackground
  padding-left: 1em
  padding-right: 1em

  &, & + .ft-feed-item
    border-top: 1px solid $infoBorder

  .ft-feed-item-value
    color: $infoText

.ft-goal,
.ft-rank
  td, th
    &:last-of-type
      text-align: right

.ft-rank
  .lead
    margin-bottom: 1em

.ft-rank-row--mine
  font-weight: bold

  & ~ tr td
    opacity: 0.5

.tk-goal-item
  img
    width: 50px
    height: auto
    float: left
    margin: 0 10px 10px 0

.tk-goal-item-title
  font-weight: bold

.tk-footer
  padding: 2em 0 0
  color: #999

  a
    color: mix(#ccc, #288edb)

  ul
    text-align: center
    margin: 0
    padding: 0

  li
    list-style: none
    display: inline
    padding: 0 1em
